.btn-cart {
  @include button-size(16px,16px, 24px, 33px, 0);
  @include button-variant(theme-color('vegetrian-content'),transparent);
  color:theme-color('vegetrian') !important;
}
.btn-cart-qty {
  @include button-size(12px,18px, 16px, 22px, 1);
  @include button-variant($white,theme-color('vegetrian-content'));
  color:theme-color('vegetrian') !important;
}
.img-cart
{
    height:315px;
    min-width: 100%;
}
.img-cart-list
{
   height:106px;
   min-width: 157px;
    @include pad(){         
        height:110px;
        min-width: 110px;
    }
    background-position: center center ;
    background-size: cover;
}
.text-cart
{
    color:theme-color('vegetrian');
    padding-top: 13px;
    padding-bottom: 13px;
}
.like-cart
{
    position: absolute;
    top: 20px;
    right: 22px;
    z-index: 100;
    color:theme-color('vegetrian');
    
    .like-cart-display
    {
        cursor: pointer; 
        .like-cart-active,.like-cart-checkbox
        {
            display: none;        
        }
        .like-cart-checkbox:checked
        {
            &~.like-cart-active
            {
                display: block;
            }
            &~.like-cart-hidden
            {
                display: none;
            }
        }   
    }
   
}
.title-cart
{
   text-align: center;
    position: absolute;
    width:36px;
    height:107px;
    letter-spacing: 5px;
    top:0px;
    left:20px;
    color:white;
    padding-right:7px;
    background-color: theme-color('vegetrian') ;
    writing-mode: vertical-rl;
}
.cart-order
{
    background-color: #fff;
    color:theme-color('vegetrian') ; 
    @include pad(){
        background-color: theme-color('vegetrian') ; 
        color:white;
    }

}