::-webkit-input-placeholder { /* WebKit browsers */
font-family: $font-family-sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font-family: $font-family-sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19 */
font-family: $font-family-sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10 */
color: rgba(255,255,255,0.50) !important;
font-size: 24px;
}
.bg-cover
{
  background-position: center center;
  background-size: cover;/*充滿全瑩幕*/
}
.bg-vegetrian-content
{
 background-color: $vegetrian-content-color !important;
}
.border-vegetrian-content
{
  border:1px solid  $vegetrian-content-color !important;
}
.text-vegetrian-dark-content
{
 color:$vegetrian-dark-content-color !important;
}

.no-gutters
{
    padding-left: 0px;
    padding-right: 0px;
}
.zindex--1 {
    z-index: -1;
}
//button
.btn-login {
  @include button-size(16px,16px, 24px, 30px, 0);
  @include button-variant($vegetrian-bg-hover-color,transparent);
  color:theme-color('primary') !important;
}
.btn-community {
    color: $vegetrian-dark-content-color;
    background-color: #fff;
    border-color: #EAF0ED;  
}
.btn-email
{
     @include button-size(18px,24px, 16px, 1rem, 0);
     @include button-variant($vegetrian-bg-hover-color,transparent);
     color:theme-color('primary') !important;
}

//text
.text-vertical-rl
{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.text-vertical-md-rl
{
    @include pad (){
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
	}    
}

.font-size-23
{
    font-size: 23px;
}
.font-size-34
{
    font-size: 2.125rem;
 
}
.font-size-36
{
    font-size: 2.25rem;
}
.letter-spacing-1
{
   letter-spacing: 0.5rem;
}
.line-height-none
{
    line-height:0;
}